{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up - DrugTrack{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card">
            <div class="card-header text-center">
                <h4 class="mb-0">
                    <i class="fas fa-user-plus"></i> Create Account
                </h4>
            </div>
            <div class="card-body p-4">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary w-100 mt-3">
                        <i class="fas fa-user-check"></i> Sign Up
                    </button>
                </form>
                
                <hr class="my-4">
                
                <div class="text-center">
                    <p class="mb-0">
                        Already have an account? 
                        <a href="{% url 'login' %}" class="text-primary">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}