{% extends 'base.html' %}

{% block title %}Admin Panel - DrugTrack{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-chart-line"></i> Admin Menu
            </div>
            <div class="list-group list-group-flush">
                <a href="{% url 'admin_dashboard' %}" class="list-group-item list-group-item-action">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
                <a href="{% url 'admin_users' %}" class="list-group-item list-group-item-action">
                    <i class="fas fa-users"></i> Users
                </a>
                <a href="{% url 'admin_predictions' %}" class="list-group-item list-group-item-action">
                    <i class="fas fa-chart-line"></i> Predictions
                </a>
                <a href="{% url 'admin_pharmacies' %}" class="list-group-item list-group-item-action">
                    <i class="fas fa-store"></i> Pharmacies
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        {% block admin_content %}{% endblock %}
    </div>
</div>
{% endblock %}